/*Countdown */
.bpt-countdown {
    text-align: center;
    font-size: 100px;
}
.countdown-section {
    display: inline-block;
    flex: 1;
    color:inherit;
    &:last-child{
        .countdown-amount{
            &:before,
            &:after{
                display: none;
            }
        }
    }
}
.countdown-section .countdown-amount {
    display: block;
    font-size: 1em;
    line-height: 1.52;
    font-weight: 500;
    padding: 0 4px;
    color: inherit;
    position: relative;
    z-index: 1;
    &:before,
    &:after{
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0.111em;
        height: 0.111em;
        border-radius: 0.03em;
        background: #46e1ac;
        transform: translateX(50%);
    }
    &:before{
        top: 35%;
    }
    &:after{
        bottom: 35%;
    }
}
.countdown-period {
    display: block;
    text-transform: capitalize;
    color: inherit;
    font-size: 0.25em;
    line-height: 0.87;
    font-weight: 400;
    letter-spacing: 0px;
}
.countdown-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom_countdown .countdown-section{
    font-family: inherit;
}
.custom_countdown .countdown-section .countdown-amount {
    font-family: inherit;
    font-weight: inherit;
}
.custom_countdown  .countdown-period{
    font-family: inherit;
    font-weight: inherit;
}

.bpt-countdown.countdown_size_large {
    font-size: 90px;
}

.bpt-countdown.countdown_size_e_large {
    font-size: 120px;
}

.bpt-countdown.countdown_size_small {
    font-size: 50px;
}

.bpt-countdown.countdown_size_medium {
    font-size: 70px;
}


.bpt-countdown.countdown_align_left{
    text-align: left;
    .countdown-amount{
        &:before,
        &:after{
            display: none;
        }
    }
}
.bpt-countdown.countdown_align_right{
    text-align: right;
    .countdown-amount{
        &:before,
        &:after{
            display: none;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .bpt-countdown.countdown_size_large {
        font-size: 80px;
    }

    .bpt-countdown.countdown_size_e_large {
        font-size: 106px;
    }

    .bpt-countdown.countdown_size_small {
        font-size: 41px;
    }

    .bpt-countdown.countdown_size_medium {
        font-size: 58px;
    }
}
@media only screen and (max-width: 992px) {
    .bpt-countdown.countdown_size_large {
        font-size: 70px;
    }

    .bpt-countdown.countdown_size_e_large {
        font-size: 82px;
    }

    .bpt-countdown.countdown_size_small {
        font-size: 33px;
    }

    .bpt-countdown.countdown_size_medium {
        font-size: 46px;
    }
    .countdown-section .countdown-amount {
        &:before,
        &:after{
            width: 6px;
            height: 6px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .bpt-countdown.countdown_size_large {
        font-size: 50px;
    }

    .bpt-countdown.countdown_size_e_large {
        font-size: 60px;
    }

    .bpt-countdown.countdown_size_small {
        font-size: 30px;
    }

    .bpt-countdown.countdown_size_medium {
        font-size: 40px;
    }
    .countdown-section .countdown-amount {
        &:before,
        &:after{
            width: 4px;
            height: 4px;
        }
    }
}