/* google map */
body .wpb_gmaps_widget .wpb_wrapper{
    padding: 0;
}
.cryptronick_google_map{
    position: relative;
    z-index: 1;
    padding-bottom: 42.73%;
}
.cryptronick_google_map #map-canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* end google map */