/* icon */
.bpt-icon{
	margin: 0;
	transition: all 0.4s;
	&.icon_circle{
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #ffffff;
		border-radius: 40px;
		&.icon_shadow{
			box-shadow: 0 0 16px 3px rgba(3, 38, 94, 0.19);
		}
	}
}
.bpt-icon.opacity_icon:hover{
	opacity: .5;
}
a .bpt-icon {
	color: #a3a3a3;
	cursor: pointer;
}