/* social icons */
.cryptronick_module_social{
	margin-left: -7px;
	margin-right: -7px;
	.soc_icon{
		text-align: center;
		display: inline-block;
		border-radius: 50%;
		color: #ffffff;
		font-size: 14px;
		margin-left: 7px;
		margin-right: 7px;
		margin-bottom: 14px;
	}
	&.with_bg{
		.soc_icon{
			width: 30px;
			height: 30px;
			line-height: 30px;
			&:hover{
				background: #ffffff;
				box-shadow: 0 3px 16px 0px rgba(3,38,96,0.2);
			}
		}
	}
}