/* vc_separator */

.vc_separator.vc_sep_width_40px .vc_sep_holder .vc_sep_line,
.vc_separator.vc_sep_width_40px{
    width: 40px;
}
.vc_separator.vc_sep_width_75px .vc_sep_holder .vc_sep_line,
.vc_separator.vc_sep_width_75px{
    width: 75px;
}
.vc_separator.vc_sep_width_100px .vc_sep_holder .vc_sep_line,
.vc_separator.vc_sep_width_100px{
    width: 100px;
}
/* end vc_separator */