/* vc_row */
div[data-vc-parallax-image]{
    position: relative;
    overflow: hidden;
}
div[data-vc-parallax-image] .vc_parallax-inner{
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-attachment: scroll;
    background-color: transparent;
    background-image: inherit;
    background-size: cover;
    z-index: 0;
    background-position: 50% 0;
}
/* end vc_row */
body .wpb_content_element{
    margin-bottom: 0;
}

.wpb_content_element:after{
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.vc_row{
    position: relative;
}