.cryptronick_author-widget {
	text-align: center;
}
.author-widget{
	&_img-wrapper{
		margin-bottom: 25px;
	}
	&_title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
    	margin-bottom: 10px;
	}
	&_text {
		line-height: 30px;
		margin-bottom: 0;
		margin-bottom: 15px;
		font-weight: 300;
	}
	&_social-link {
		color: #a3a3a3;
		margin: 0 13px;
	}
} 