.cryptronick_widget .gallery {
	margin: -5px !important;
	.gallery-item {
		margin: 0 !important;
	}
	.gallery-item .gallery-icon {
		margin: 5px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		border-radius: 10px;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			transition: opacity 0.4s;
			background: #000;
		}
		&:hover:before{
			opacity: 0.4;
		}			
	}
	.gallery-item img {
		border: 0 !important;	
	}
	.gallery-icon > a{
		display: block;
	}
}
.cryptronick_widget.widget_media_gallery .widget-title{
	margin-bottom: 12px;
} 